<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/pell/dist/pell.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.11.0/brython.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.11.0/brython_stdlib.js"></script>
    <script type="text/python" src="{{ url_for('static', filename='brython/dashboard.bry') }}"></script>
    <script>
        window.onload = function() { brython(); }
        window.all_tables = {{ all_tables|tojson }};
    </script>
</head>
<body>
<div class="panel">
    <div class="dropdown">
      <a href="{{ url_for('dashboard') }}" class="dropbtn">Main</a>
      <div class="dropdown-content">
        {% for table in all_tables %}
          <a href="{{ url_for('table_view', table=table) }}">{{ table }}</a>
        {% endfor %}
      </div>
    </div>
    <a href="{{ url_for('logout') }}">Logout</a>
</div>
<h1>Dashboard</h1>
<div id="service-block">
<h2>Bot system control</h2>
    <button id="start-btn">Start</button>
    <button id="stop-btn">Stop</button>
    <button id="restart-btn">Restart</button>
    <br><p><br>
	<span id="service-status" class="status-unknown">Status: <span id="status-text">---</span></span></p>
</div>
</body>
</html>