<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='korneslov_fav.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/top_panel.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/pell/dist/pell.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.11.0/brython.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/brython@3.11.0/brython_stdlib.js"></script>
    <script type="text/python" src="{{ url_for('static', filename='brython/dashboard.bry') }}"></script>
    <script type="text/python" src="{{ url_for('static', filename='brython/dashboard_stats.bry') }}"></script>
	<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        window.onload = function() { brython(); }
        window.all_tables = {{ all_tables|tojson }};
    </script>
</head>
<body>
<div class="panel">
    <div class="dropdown">
      <a href="{{ url_for('dashboard_stat.dashboard') }}" class="dropbtn">Main</a>
      <div class="dropdown-content">
        {% for table in all_tables %}
          <a href="{{ url_for('table_view.table_view', table=table) }}">{{ table }}</a>
        {% endfor %}
      </div>
    </div>
    <a href="{{ url_for('login.logout') }}">Logout</a>
</div>
<h1>Dashboard</h1>
    <div class="card" id="service-block">
        <h3>Bot system control</h3>
        <button id="start-btn">Start</button>
        <button id="stop-btn">Stop</button>
        <button id="restart-btn">Restart</button>
        <br><p><br>
        <span id="service-status" class="status-unknown">Status: <span id="status-text">---</span></span>
        </p>
    </div>

<!-- InfoCards Block -->
	<div class="dashboard-grid">
		<div class="card">
			<h3>Total Users</h3>
			<span id="total-users">...</span>
			<h3>Active %</h3>
			<span id="active-percent">...</span>
		</div>
		<div class="card">
			<h3>Request Time</h3>
			Min: <span id="min-delay">...</span> sec<br>
			Max: <span id="max-delay">...</span> sec<br>
			Avg: <span id="avg-delay">...</span> sec
		</div>
		<div class="card">
			<h3>Language</h3>
			RU: <span id="lang-ru">...</span><br>
			EN: <span id="lang-en">...</span>
		</div>
	</div>

<!-- Chart block -->
	<div style="display: flex; gap: 60px; align-items: center;">
		<div style="width: 800px; height: 500px;">
	<!-- Line diagram - by requests -->
			<canvas id="requests-chart"></canvas>
		</div>
		<div style="width: 800px; height: 500px;">
	<!-- Donut (bublik!!): by books -->
			<canvas id="books-donut"></canvas>
		</div>
	</div>

<!-- Top10 Block -->
<div class="top10block">
	<div class="dashboard-tables-row">
	  <div class="dashboard-table-box">
		<table class="dashboard-table">
		  <thead>
			<tr>
			  <th>Top 10 Users</th>
			</tr>
		  </thead>
		  <tbody>
			{% for user_id in top10_users %}
			<tr>
			  <td>{{ user_id }}</td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	  </div>
	  <div class="dashboard-table-box">
		<table class="dashboard-table">
		  <thead>
			<tr>
			  <th>Top 10 Books</th>
			</tr>
		  </thead>
		  <tbody>
			{% for bookname in top10_books %}
			<tr>
			  <td>{{ bookname }}</td>
			</tr>
			{% endfor %}
		  </tbody>
		</table>
	  </div>
	</div>
</div>

</body>
</html>