<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>rootster: Tables</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="panel">

<div class="dropdown">
  <a href="{{ url_for('index') }}" class="dropbtn">Main</a>
  <div class="dropdown-content">
    {% for table in all_tables %}
      <a href="{{ url_for('table_view', table=table) }}">{{ table }}</a>
    {% endfor %}
  </div>
</div>

    <a href="{{ url_for('logout') }}">Logout</a>
</div>

<!-- Here will be placed something useful, interesting.. for ex., statistics, diagrams.. -->

</body>
</html>
