<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>rootster: Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
</head>
<body>
    <h2 class="login_h2">Login to rootster</h2>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for msg in messages %}
            <li style="color: red;">{{ msg }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
	<form method="post">
	  <table class="login_table">
		<tr>
		  <td><label class="login_label" for="login_username">Login:</label></td>
		  <td><input class="login_input" id="login_username" type="text" name="username"></td>
		</tr>
		<tr>
		  <td><label class="login_label" for="login_password">Password:</label></td>
		  <td><input class="login_input" id="login_password" type="password" name="password"></td>
		</tr>
		<tr>
		  <td colspan="2"  class="login_button_cell"><button class="login_button" type="submit">Login</button></td>
		</tr>
	  </table>
	</form>
</body>
</html>