<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>rootster: {{ table }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="panel">
<div class="dropdown">
  <a href="{{ url_for('tables') }}" class="dropbtn">Back</a>
  <div class="dropdown-content">
    {% for table in all_tables %}
      <a href="{{ url_for('table_view', table=table) }}">{{ table }}</a>
    {% endfor %}
  </div>
</div>
    <!-- a href="{{ url_for('tables') }}">Back</a --> | 
    <a href="{{ url_for('logout') }}">Logout</a>
</div>

    <h2>Table: {{ table }}</h2>
		<table>
		  <tr>
			{% for col in columns %}
			  <th class="col-{{ col }}">{{ col }}</th>
			{% endfor %}
		  </tr>
		  {% for row in rows %}
		  <tr>
			{% set preview_limit = 2000 %}
			{% for col in columns %}
			  <td class="col-{{ col }}">
				{% if col == 'data' and row[col]|length > preview_limit %}
				  {{ row[col][:preview_limit] | safe }}
				  <p>
				  <details>
					<summary>Show more</summary>
					  {{ row[col][preview_limit:] | safe }}
				  </details>
				  </p>
				{% else %}
				  {{ row[col] | safe }} <!-- 2DBG: remove safe to switch to raw ouput -->
				{% endif %}
			  </td>
			{% endfor %}
		  </tr>
		  {% endfor %}
		</table>
    <br>
</body>
</html>
